name: Test Suite

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terramedic

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js and Yarn
        uses: ./.github/actions/setup-node-yarn

      - name: Install Playwright browsers
        working-directory: terramedic
        run: npx playwright install --with-deps

      - name: Run tests
        working-directory: terramedic
        run: yarn test
